{% extends 'header.html' %}
{% block title %}About me{% endblock %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>So Who am I?</h1>
                            <span class="subheading">My life in a few sentences.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Have you heard the phrase, "started from the bottom now we are here"?. Well that's me about quarter of the way to what i hope to be the top, although I believe there is no top.</p>
                        <p>More than anything I seek for answers as someone belonging to a speck in the Grand Cosmos known to us mere Humans as Space. What is time?, What is Spacial Reality?, What are we(not biologically but in Energy)?</p>
                        <p>Hahaha, don't be scared as to what I am talking about. These are just few topics that circulate around the plethora of stuff in my own Cosmos, which is my as you guessed it, My Head.</p>
                    </div>
                </div>
            </div>
        </main>
{% include 'footer.html' %}
{% endblock %}