{% extends 'header.html' %}
{% block title %}Message sent{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1499744937866-d7e566a20a61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Thank you for getting in touch</h1>
                            <span class="subheading">" get back to you soon "</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% include 'footer.html' %}
{% endblock %}